SKAFFOLD_DEFAULT_REPO=$REGION-docker.pkg.dev/$PROJECT_ID/cloud-run-source-deploy
SKAFFOLD_CLOUD_RUN_LOCATION=$REGION
SKAFFOLD_PORT_FORWARD=true
SKAFFOLD_CHECK_CLUSTER_NODE_PLATFORMS=false
SKAFFOLD_PLATFORM=linux/amd64
SKAFFOLD_NAMESPACE=$PROJECT_ID
